:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #00031f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: cursive;
}

.card {
  position: relative;
  background-color: #ececec;
  color: rgb(6, 6, 79);
  font-family: sans-serif;
  border-radius: 8PX;
}
.card h1 {
  font-size: 80px;
  font-family: cursive;
}

.card h2 {
  font-family: cursive;
}
.name-input {
  padding: 8px;
  border: none;
  background-color: black;
  color: rgb(8, 8, 8);
  /* border-radius: 15px; */
  transition: transform 0.2s ease-in-out;
  background-color: rgb(232, 232, 232);
}

.name-input:focus {
  transform: scale(1.1);
  outline: 2px solid #3b82f6; /* Adding a subtle glow color makes it look interactive */
  outline-offset: 4px;
}

.start-btn {
  margin: 15px;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(222, 14, 56);
  border: 1px solid black;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  transition: transform 0.4s;
}
.start-btn:hover {
  transform: scale(1.02);
  color: rgb(222, 14, 56);
  background-color: rgb(251, 227, 227);
  border: 1px solid black;
  border-radius: 8px;
}